/* For info_char page */
#char_label, #uchar_self{
	display:none;
}

/* END */
.centered {
    float: none;
    margin: 0 auto;
}

.sp-but {
    margin: 2em;
}

.container-sim {
	display: inline-block;
	position: relative;
	width: 292px;
	height: 164px;
	border: 10px solid #f5f5f5;
}

#recent-matches {
	width: 100%;
	overflow: auto;
}

.match-text {
	font-size: 1em;
	opacity: 1;
	transition-delay: 0.1s;
	transition-duration: 0.2s;
	text-align: center;
}

.date-text:before {
	content: "\a";
	white-space: pre;
}

.date-text {
	color: yellow;
}

.outcome-text {
	color: #DCDCDC;
	font-weight: bold;
}

.round-text {
	color: #CBFF9C;
}

.round-text:before {
	content: "\a";
	white-space: pre;
}

.date-text, .round-text, .outcome-text {
	display: inline-block;
	vertical-align: middle;
}

.overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 272px;
	height: 144px;
	background-color: rgba(0,20,50,0.6);
	z-index: 100;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
}

.overlay:hover {
	opacity: 0;
}

.match_info_container {
	border: 5px solid white;
}

.global_match_info_container{
	text-align: center;
}

#challenger_link > a {
	color: blue;
}

#own_character_link > a{
	color: red;
}

#match1 {
	cursor: pointer;
	background-color: rgb(0,0,0);
	color:whitesmoke;
	float: left;
}

#match2 {
	cursor: pointer;
	background-color: white;
	float: right;
}
#match1,#match2{
	margin: 2%;
	border-radius: 2%;
}
#result1,#result2{
	box-shadow: 10px 10px 5px rgba(136, 136, 136, 0.15);
	border-radius: 2px;
	border-style: solid black;
	padding: 15px;

}
#result1 h3,#result2 h3{
	margin: 3px;
}
.winner{
	color:green;
}
