<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head pure-button"><a href="#" class="pure-anchor">Start</a></h1>
        <p class="splash-subhead">
            SOme DEscription.
        </p>
    </div>
</div>

