<nav id = "header" class = "navbar navbar-default">
    <div class = "navbar-header">
        <a id = "event-name" class = "navbar-brand" href = "/">codeCharacter</a>
    </div>
    <ul class = "nav navbar-nav">
        <li><a href = "/docs/">Docs</a></li>
        <li><a href = "/leaderboard">Leaderboard</a></li>
    <% if(user) { %>
        <li><%- link_to(user.pid, '/u/' + user.pid) %></li>
		<li><%- link_to('Logout', '/logout') %></li>
    <% } else { %>
        <li><%- link_to('Login', '/login') %></li>
    <% } %>
    </ul>
</nav>
