<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Code Control</a>

        <ul>
            <li class="pure-menu-selected"><a href="/">Home</a></li>
            <li><a href="/docs">Docs</a></li>
            <% if(user) { %>
                <li> Score: <%= user.points %></li>
                <li> Welcome <%= make_link(user.pid, '/u/' + user.pid) %></a></li>
            <% } else {%>
                <li><a href="#">Sign In</a></li>
            <% } %>    
        </ul>
    </div>
</div>