<header id = "header" class = "header">
    <div id = "event-name"><h1> Code Character </h1></div>
    <div id = "links">
        <ul>
            <li><a href = "/docs/">Docs</a></li>
        </ul>
    </div>
    <div id = "user-data">
    <% if(user) { %>
        <ul>
            <li><%- link_to(user.pid, '/u/' + user.pid) %></li>
        </ul>
    <% } else { %>
        <%- link_to('Login', '/login') %>
    <% } %>
    </div>
</header>
