<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Code Control">
    <%- include req %>
    <title>Code Control</title>
</head>
<body>
    <%- include header%>
    <%- include content %>
    <%- include footer %>
</body>
</html>
