<html>
<head>
    <title>test</title>
</head>
<body>
    <%- include header.ejs %>
    <div id = "versus">
    </div>
    <div id = "replay-frame">
        <canvas id = "render-canvas" width = 800 height = 800></canvas>
    </div>
    <div id = "replay-buttons">
        <button id = "next-button">next</button>
        <button id = "prev-button">prev</button>
    </div>
    <a id = "dload-link">Download</a>
    <script id = "map-json" type = "application/json">
        <%- map %>
    </script>
    <script id = "replay-json" type = "application/json">
        <%- JSON.stringify(result.replay) %>
    </script>
    <script src = "/render.js"></script>
</body>
</html>
