<html>
<head>
    <title> <%= id %></title>
</head>
<body>
    <%= include header.ejs %>
    <div id="versus">
        <div id = "pA">
            <%= playerA %>
        </div>
        <b> vs. </b>
        <div id = "pB">
            <%= playerB %>
        </div>
    </div>
</body>
</html>
