<html>
<head>
    <%- include req %>
    <title> Not logged in </title>
</head>
<body>
<%- include header %>
<div id = "message">
    <p>
	<center>Login Failed. Possible incorrect Email or Password.</center>
    </p>
	<p>
	<center>Ensure you are registered for the event at <a href="http://prgy.in/codecharacter">codeCharacter</a> to play</center>
	</p>
	<p>
	<center>Registrations close for this event on <span style="color: red;">FEB 26 11:59 PM</span></center>
	</p>
    <p>
	<center>Register at <a href="https://www.pragyan.org" target="_blank">Pragyan_Site</a> if Credentials not available.</center>
    </p>
</body>
</html>
