<html>
<head>
    <%- include req %>
    <title> Not logged in </title>
</head>
<body>
<%- include header %>
<div id = "message">
    <p>
	<center>Login Failed. Incorrect Email or Password.</center>
    </p>
    <p>
	<center>Register at <a href="http://pragyan.org" target="_blank">Pragyan_Site</a> if Credentials not available.</center>
    </p>
</body>
</html>
