<html>
<head>
    <%- include req %>
</head>
<body>
<%- include header %>
<div id = "message">
    <p>
    You are not logged in.
    Login at <a href="http://pragyan.org">Main site</a> then visit
    <a href="/auth">this</a> to complete login.
    </p>
</body>
</html>
