<html>
<head>
<title> Unauthorized </title>
<%- include req %>
</head>
<body>
    <%- include header %>
    <div id = "unauth-message">
        You are not authorized to view this page
    </div>
</body>
</html>
